frontend/node_modules
.claude
*.pyc
CLAUDE.md
backend/job_platform.db
frontend/.next
backend/__pycache__
backend/.venv
backend/__pycache__
terraform-minimal/.terraform
backend/job_platform.db
backend/.env
backend/.env.example
